body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    margin: 0;
    height: 100vh;

    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    padding-top: 200px;
    font-size: 50px;
}
